/*styles*/

:root {
    --white: #FCFCFC;
    --black: #161616;
    --grey: #A7A1A1;
    --grey-dark: #7c7b7b
    --orange: #F6AB53;
    --darker-white: #FAF9F9;
    --font: font-family: 'Josefin Sans', sans-serif; 
}
body {
    margin: 0;
    font-family: 'Josefin Sans';
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
/*Header*/

/*Header top/nav*/

nav {
    margin: 32px 24px 12px 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header-top-left {
    width: fit-content;
    height: fit-content;
    align-items: flex-start;
}
.header-top-right {
    width: fit-content;
    height: fit-content;
    align-items: flex-end;
    margin-right: 24px;
}
.header-top-right img {
    margin-right: 24px;
}

/*Header h1*/

header h1 {
    margin-left: 24px;
    margin-bottom: 0;
}

/*Header list*/

.header-bottom__buttons {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.header-bottom__buttons li:hover {
    color: var(--orange);
    cursor: pointer;
}

/*Products and contaienr*/

.products-container {
    display: grid;
    grid-template-columns: 50% 50%;
}
.product {
    width: auto;
    height: auto;
    text-align: center;
    margin: 1px;
    padding: 10px 6px 6px;
}
.product:hover {
    border: 1px solid var(--grey);
    border-radius: 16px;
}
.product img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    box-shadow: 1px 1px 81px -4px rgba(0,0,0,0.31);
    -webkit-box-shadow: 1px 1px 81px -4px rgba(0,0,0,0.31);
    -moz-box-shadow: 1px 1px 81px -4px rgba(0,0,0,0.31);
}
.product p:nth-child(2){
    margin-bottom: 0px;
    font-weight: 700;
}
.product-price {
    text-align: center;
    font-size: 14px;
    margin-top: 0px;
    color: var(--grey-dark);
}

/* footer  */

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: var(--black);
    height: 100px;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 56px 0px 0px 0px;
}
.footer-icons-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.footer-icons {
    width: 30px;
    height: 30px;
}
/* .footer-icons:nth-child(1) {
    background-color: #ea0000;
} */