/*styles*/

:root {
    --white: #FCFCFC;
    --black: #161616;
    --grey: #A7A1A1;
    --orange: #F6AB53;
    --darker-white: #FAF9F9;
    --font: font-family: 'Josefin Sans', sans-serif; 
}
body {
    margin: 0;
    font-family: 'Josefin Sans';
    box-sizing: border-box;
}
/*Header*/
/*Header top/nav*/

nav {
    margin: 32px 24px 12px 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header-top-left {
    width: fit-content;
    height: fit-content;
    align-items: flex-start;
}
.header-top-right {
    width: fit-content;
    height: fit-content;
    align-items: flex-end;
    margin-right: 24px;
}
.header-top-right img {
    margin-right: 24px;
}

/*Header h1*/

header h1 {
    margin-left: 24px;
    margin-bottom: 0;
}

/*Header list*/

.header-bottom__buttons {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.header-bottom__buttons li:hover {
    color: var(--orange);
    cursor: pointer;
}


